/* body {

    color: #222;
    font-family: sans-serif ;
}
.grande{
    font-size: 50px;
} */

.flex-container{
    display:flex;
    flex-wrap: wrap ;
    justify-content: center;
    color: #000;
    font-family: sans-serif;
}
.flex-item:hover{
    border-color: rgb(8, 255, 103);
    box-shadow:0px 0px 40px #ac3 ;

}
.flex-item:focus{
    border-color: rgb(188, 0, 245);
    box-shadow:0px 0px 40px rgb(92, 0, 104) ;

}
h2, h3{
    margin: 0;
}
h3{
    color: #666
}

p b{
    color: rgb(8, 255, 103);
}

.llave-img{

    width: 150px;
    
}
.flex-item{
    flex-grow: 1;
    flex-basis: 300px;
    margin: 20px;
    max-width: 200px;
    border:2px solid #ACE ;
    padding:0 20px;
}

form {

    width: 100%;
    text-align: center;


}

input[type = "submit"]{
    background: rgb(7, 177, 72);
    color: bisque;
    border: none;
    padding: 12px 28px;
    font-size: 25;
    letter-spacing: 1px;  
}