body{
    color: #222;
    font-family: sans-serif;
}

/* div{
    background-color: #000;
    padding: 20px;
}

h2{
    color: #fff;
}
p{
    color : #ccc;
}
p:hover{
    background: red;
} */

.contenedor{
    padding: 30px;
    background:  red;
}

.in-prueba{
border: 1px solid #000;
border-radius: 5px;
padding: 6px ;
color:rgb(64, 10, 189);

}

.selecionado{
    color:  #ac3;
}